<mat-list-item class="task-item" cdkDrag [attr.aria-label]="'Tarea ' + task().title" [ngStyle]="{ 'border-left-color': task().color }">
    <mat-checkbox
      [checked]="task().status === taskStatus.COMPLETED"
      (change)="toggleCompleted($event.checked)"
      aria-label="Marcar completada">
    </mat-checkbox>
  
    <div class="content">
      <h4>{{ task().title }}</h4>
      <p>{{ task().description }}</p>

      @if (task().categoryName) {
        <small class="cat">{{ task().categoryName }}</small><br>
      }
      <small>{{ task().createdAt | date:'medium' }}</small>
    </div>
  
    <button mat-icon-button aria-label="Editar" mat-tooltip="Editar" mat-tooltip-position="above" matTooltip="text" (click)="edit()">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button color="warn" aria-label="Eliminar" (click)="remove()">
      <mat-icon>delete</mat-icon>
    </button>
</mat-list-item>
  